body {
    padding-top: 70px;
}

html,
body {
    min-width: 300px;
    width: 100%;
}

#navbar {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: none;
}

table td span,
table td input {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    margin: 1px;
    text-align: center;
    padding: 0px;
    border-radius: 4px;
}

.task-container,
.answer-container,
.history-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#history {
    display: grid;
    align-items: center;
    justify-content: center;
}

.argument,
.operation,
.inline-task {
    font-size: 30px;
}

.operation {
    text-align: center;
}

#description {
    word-wrap: break-word;
}

.score-container {
    float: right;
}

.progress-container {
    float: left;
}

@media (orientation:landscape) {

    .task-container,
    .history-container {
        flex-direction: row;
    }
}

@media (orientation:portrait) {

    .task-container,
    .history-container {
        flex-direction: column;
    }
}

.active {
    font-weight: bold;
}